$text-colors: blue, green, orange, pink, purple, red, teal, yellow, black, grey, white;
@each $tc in $text-colors{
  .text.#{$tc}{
    color: #{$tc};
  }
}

input, textarea {
  font-family: 'Geomanist', sans-serif!important;
  font-weight: 400;
}